@import 'utils';

.BottomLogin {
    position: relative;
    padding-top: 16px;

    .BottomLogin__Wrp {
        display: flex;

        .BottomLogin__SNS {
            display: flex;
            align-items: center;
        }
    
        .BottomLogin__Button {
            display: flex;
            align-items: center;
            width: 45%;
            margin-left: auto;
        }

    }
    
    .BottomLogin_select {        
        width: 150px;
        height:48px;
        
        color: #4a4a4a;  
        border-color: #9b9b9b;
        font-size: 16px;
        
        border-radius: 25px;    
        border: 1px solid;
        text-transform: none; 
        
        font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0b0f18;

        margin-right: 14px;

        &:hover {
            background-color: rgba(255, 59, 148, 0.08);
        }
    }

    .BottomLogin_button_icon {
        margin-top: -2px;
        margin-right: 6px;    
    }

    .BottomLogin_pink_button {

        font-family: 'Montserrat', 'NanumSquareRound', sans-serif;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: center;
        color: #ffffff;
        background-color: #ff3b94;
        height:70px;

        text-transform: none; 
        border-radius: 8px;

        &:hover {
            background-color: rgba(255, 59, 148, 0.8);
        }
   }

    @include media('<develop') {
        .BottomLogin_select {
            font-size: 16px;
        }
    }

    @include media('<mobile') {
        .BottomLogin__Wrp {
            display: flex;
            flex-direction: column;

            .BottomLogin__SNS {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 0px 16px 0px;
            }
        
            .BottomLogin__Button {
                display: flex;
                align-items: center;
                margin-left: auto;
                width: 100%;
            }

            .BottomLogin_select {
                margin: 0px 2px;
            }
    
        }
    }
}

