@import 'utils';

.What_To_Mind {
        position: relative;

        .What_To_Mind_div {
                width: 100%;
                height:30px;
        }

        .What_To_Mind_br {
                width: 100%;
                height:96px;                        
                @include media('<develop') {
                        height:0px;     
                }
        }
}