@import 'utils';

.Upload_TextField {      
  position: relative;

  .Upload_TextField_div {
    display: flex;    
    flex-direction: row;    
    align-items: flex-start;          
  }

  .Upload_TextField_left_div {
    width: 150px;            
  }

  .Upload_TextField_left_right {
   
  }


  .Upload_TextField_title {
    font-family: "Montserrat-Bold";
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0f18;        
    width: 180px;

    margin-top: 20px;
  }

  .Upload_TextField_desc {
    width: 457.4px;   
    height: auto; 
    font-family: "Montserrat-Medium";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #4a4a4a;    
    margin-top: 8px;        

    margin-bottom: 35px;
  }

  .LoginTextField_Title {
    font-family: 'Montserrat', 'NanumSquareRound', sans-serif;

    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0f18;    

    margin-right: 25px;
  }

  .LoginTextField_Error {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ff3b94;
  }

  .LoginTextField_Typo {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;  
    }    
   
}

