@import 'utils';

.Line_Evently_forget_line {

  display: flex;    
  width: 100%;        
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  
  .Line_Evently_forget_half {    
    width: 50%;    
    display: flex;
    align-items: center;    
  }

  .Line_Evently_forget_full {
    width: 100%;    
    display: flex;
    align-items: center;    
  }

  .Line_Evently_forget_half_left {
    justify-content: flex-start; 
    
  }

  .Line_Evently_forget_half_right {    
    justify-content: flex-end;     
  }

  .Line_Evently_forget_half_center {
    justify-content: center;
  }

  .Line_Evently_top {    
    align-items: flex-start;    
  }

}


