@import 'utils';

.Reaction {
    position: relative;   
    width: 300px;
    height: auto; 
    
    .Reaction_title {
      font-family: "Montserrat-Bold";
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #4a4a4a;
    }

    .Reaction_name {
      font-family: "Montserrat-Medium";
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #4a4a4a;
    }

    .Reaction_image {
      width: 73px;
      height: 88px;
    }

    .Reaction_left {
      font-family: "Montserrat-Bold";      
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: normal;
      color: #4a4a4a;
    }

    .Reaction_right {
      font-family: "Montserrat-Medium";
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: normal;
      text-align: right;
      color: #4a4a4a;
    }

    .Reaction_content {
      display: flex;
      margin-top: 27px;      
    }

    .Reaction_content_left {
      width: 36%;
    }

    .Reaction_content_right {
      margin-top: 38px;
      width: 64%;
    }
}