@import 'utils';

.YouTubeUserTopInfoWrap {
    width: 1260px;
    margin: 0 auto;
    background: #fff;
    height: 90px;
    position: relative;

    .YouTubeUserTopInfoAvatar {
        background: #fff;
        float: left;
        height: 140px;
        width: 140px;
        border-radius: 10px;
        border: 5px solid #fff;
        margin-top: -40px;
        margin-left: 30px;
        -webkit-box-shadow: 0 0 5px 0 rgba(51,3,0,.2);
        -moz-box-shadow: 0 0 5px 0 rgba(51,3,0,.2);
        box-shadow: 0 0 5px 0 rgba(51,3,0,.2);
    }

    .YouTubeUserTopInfoBlockTop {
        float: left;
        margin-top: 2px;
        margin-left: 10px;

        .YouTubeUserTopInfoBlockTop__Title {
            float: left;
            font-size: 1.8em;
            font-weight: bold;
            color: #333;
            margin: 0px;
            padding: 0px;
            margin-right: 5px;
        }

        .YouTubeUserTopInfoBlock {
            margin-top: 6px;
            width: 1080px;

            .YouTubeUserTopInfo {
                float: left;
                margin-right: 20px;
                text-align: center;

                .YouTubeUserTopLight {
                    text-transform: uppercase;
                    font-size: .8em;
                    color: #555;
                }

                span {
                    font-weight: bold;
                }
            }

            .YouTubeUserTopInfoSubscribers {
                font-family: 'Roboto', 'Noto Sans KR', sans-serif;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.3px;
                text-align: center;
                color: #ffffff;
                background-color: #ff0000;

                text-transform: none; 
                border-radius: 8px;

                &:hover {
                    background-color: rgba(255, 59, 148, 0.8);
                }
            }
        }
    }
}

.YouTubeUserTopInfoSubscribers__Popup {
    max-width: 378px;
    margin: 0;
    min-width: 378px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);

    .YouTubeUserTopInfoSubscribers__Popup__Title {
        color: #0a0a0a;
        display: block;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 400;
        line-height: 2rem;
        margin-top: 24px;
        padding: 0 24px;
    }

    .YouTubeUserTopInfoSubscribers__Popup__Content {
        color: #606060;
        display: block;
        margin: 4px 0 32px;
        -ms-flex: 1 1 0.000000001px;
        -webkit-flex: 1;
        flex: 1;
        -webkit-flex-basis: 0.000000001px;
        flex-basis: 0.000000001px;
        font-size: 18px;
        font-weight: 400;
        line-height: 2.1rem;
        padding: 0 24px;
    }

    .YouTubeUserTopInfoSubscribers__Popup__LoginWrp {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: 60px;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex: none;
        -webkit-flex: none;
        flex: none;
        position: relative;
        padding: 8px 8px 8px 24px;
        margin: 0;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .YouTubeUserTopInfoSubscribers__Popup__LoginButton {
        color: #065fd4;

        &:hover {
            background-color: transparent;
        }
    }
}