@import 'utils';

/* body, 타이포그래피 등의 기본 스타일 설정 */
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("//fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700");

html {
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.menu-font {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4a4a4a;  
}

//scrollbar 안 보이게
::-webkit-scrollbar {
  display: none;
}


// box-sizing 일괄 설정
* {
  box-sizing: inherit;
}

// 링크 스타일 밑줄 및 색상 무효화
a {
  text-decoration: inherit;
  color: inherit;
}

ul, ol, dl {
  list-style: none;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

$font-size: 50px;
.example {
  font-size: $font-size;
  color: white;
}

.drawer-paper {
  width: 240px;
  position: 'relative';
}
.main-component {
  margin-left : 240px;  
}

::-moz-selection {
  background: rgba(255, 59, 148, 0.2);
}

::selection {
  background: rgba(255, 59, 148, 0.2);
}
