@import 'utils';

.Account_TextField {      
  position: relative;
  width: 100%;

  .Account_TextField_div {
    display: flex;    
    flex-direction: row;    
    align-items: flex-start;          
  }

  .Account_TextField_left_div {
    width: 130px;          
  }

  .Account_TextField_right {    
    width: 100%;
  }


  .Account_TextField_title {
    font-family: "Montserrat-Bold";
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0f18;        

    width: 130px;    

    margin-top: 20px;
  }

  .Account_TextField_desc {    
    height: auto; 
    font-family: "Montserrat-Medium";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a4a;
      
    margin-right: 10px;
  }

  .Account_TextField_Title {
    font-family: 'Montserrat', 'NanumSquareRound', sans-serif;

    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0f18;    

    margin-right: 25px;
    background-color: yellow;
  }


  .Account_TextField_Typo {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;  
    }    
   
}

