@import 'utils';

.Login {
  .Login_div {
    border-left: 1px solid#f5f5f5;     
    border-right: 1px solid#f5f5f5;     
    border-bottom: 1px solid#f5f5f5;     
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    height: 510px;
    width:  730px;    
    border-radius: 10px;
  }
  
  .Login_box {
    padding-top: 24px;    
    height: 540px;
    width:  650px;
  }
  
  .Login_Checkbox {
    font-size: 27px;
    color: #ff3b94;
  }
  
  .Login_line {    
    display: flex;
    flex-direction: row;        
  }
  
  .LoginTextField_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;    
  }
  
  .Login_forget_br {
    height: 0px;
  }
  
  .Login_br {
    height: 50px;
  }
  
  .Login_Checkbox {
    width: 38px;
    height: 38px;
    margin: 10px;
    position: relative;
    top: -19px;    
    
    @include media('<mobile') {
      width: 19px;
      height: 19px;
      top: 0px;
      margin: 0;
      padding: 0;
      left: -10px;
    }
  }  
  
  .Login_password {
  
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0b0f18;
  
    &:hover {
      color: rgba(255, 59, 148, 0.8);
    }
  
    @include media('<mobile') {
      font-size: 13px;
    }
  }
  
  .Login_remember {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0b0f18;
  
    @include media('<mobile') {
      font-size: 13px;
    }
  }
  
  .Login_Checkbox {
    width: 19px;
    height: 19px;
    top: 0px;
    margin: 0;
    padding: 0;
    left: -10px;
  }
}

