@import 'utils';

.ForgotPassword {
  .ForgotPassword_div {
    border :  1px solid#f5f5f5;     
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    height: 370px;
    width:  730px;    
  }

  .ForgotPassword_box {
    padding-top: 24px;    
    height: 320px;
    width:  650px;
  }

  .Forgot_password_title {
    font-family: 'Montserrat', 'NanumSquareRound', sans-serif;
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0b0f18;
  }

  .Forgot_password_desc {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0f18;
  }


  .Forgot_desc_br {
    height: 32px;
  }

  .Forget_title_br {
    height: 50px;
  }  
}

.ForgotPassword_done {

  .ForgotPassword_done_div {
    border :  1px solid#f5f5f5;     
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    height: 250px;
    width:  730px;    
  }

  .ForgotPassword_done_box {
    //padding-top: 24px;    
    height: 150px;
    width:  650px;    
    display: flex;
    justify-content: center;    
    align-items: center;    
  }

  .ForgotPassword_title {
    font-family: 'Montserrat', 'NanumSquareRound', sans-serif;
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0b0f18;

    margin: 30px auto 30px auto;
  }

  .ForgotPassword_done_desc {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: center;
    color: #0b0f18;
  }

}


