@import 'utils';

.Animatede_Sticker {
        position: relative;

        .Animatede_Sticker_div {
                width: 100%;
                height:30px;
        }

        .Animatede_Sticker_br {
                width: 100%;
                height:96px;                        
                @include media('<develop') {
                        height:0px;     
                }
        }
}