@import 'utils';

.Yourfan {
    position: relative;   
    width: 300px;
    height: auto; 
    
    .Yourfan_title {
      font-family: "Montserrat-Bold";
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #4a4a4a;
    }

    .Yourfan_index {
      font-family: "Montserrat-Bold";
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #4a4a4a;
    }

    .Yourfan_name {
      font-family: "Montserrat-Bold";
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #4a4a4a;

      margin: 12px;
    }

    .Yourfan_download {
      font-family: "Montserrat-Bold";      
      font-size: 11px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a4a4a;

      margin: 12px;
    }

    .Yourfan_value {
      font-family: "Montserrat-Medium";
      font-size: 11px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #4a4a4a;
    }
}