@import 'utils';

.TopMenu {
  position: relative;    
    
  .TopMenu__Div {      
    display: flex;
    flex-direction: row;
    height: 140px;        
    align-items: center; 
    
    img {
      cursor: pointer;
    }
  }

  .TopMenu__Left {
    display: flex;
    justify-content: center;
    align-items: center;      
    width: 420px;
  }

  .TopMenu__Studio {                  
    margin-left: 10px;
  }

  .TopMenu__Select {    
    position: relative;
    left: 25px;

    font-family: 'Montserrat', 'NanumSquareRound', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4a4a4a;  
    
    border-color: #979797;
    width: 113px;
    height : 38px;    
    border-radius: 19px;    
    border: 1px solid;
    text-transform: none; 

    &:hover {
      background-color: rgba(255, 59, 148, 0.08);
    }
  }

  .TopMenu__UnderArrow {      
    margin-left: 15px;    
  }

  // 버튼 메뉴 위치
  .TopMenu__Button__Div {    
    width: 945px;
  }

  .TopMenu__Link {    
    font-family: 'Montserrat', 'NanumSquareRound', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;    
    text-transform: none;       

    //밑줄 위치 맞추기 위해
    padding-bottom: 8px;
    margin-right: 70px;   

    &:hover {
      color: rgba(255, 59, 148, 0.8);
    }
  }

  //메뉴 선택시에 밑에 색깔 처리
  .TopMenu__Select__Menu {
    border-bottom: 3px solid#ff3b94;       
  }

  // under 에서 메뉴 버튼 눌러 뜬 dialog 사이즈 및 위치 설정
  .TopMenu__Popup__Wrp {    
    height: 100vh;
    position: relative;
    z-index: 10001;
  }

  // under 에서 메뉴 버튼 눌러 뜬 dialog  logo close 버튼 위치
  .TopMenu__Logo__Mobile__Popup {
    position: absolute;
    left: 35px;
    top: 46px;  
  }

  .TopMenu__Logo__Mobile__Popup__Studio {
    position: absolute;
    left: 160px;
    top: 55px;  
  }

  .TopMenu__Mobile__Popup__Close {
    position: absolute;
    display: flex;
    margin-left: auto;
    top: 47px;
    right: 0px;
    width: 26px;
    height: 20px;
  }

  .TopMenu__Select_Under {
    margin: 0 auto;
    position: relative;
    left: auto;
    display: flex;
    top: 141px;   
  }

  .TopMenu__Button__Div__Under {
    position: relative;  
    margin: 0 auto;
    top: 175px;         
    width: 320px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;    
  }

  .TopMenu__Popup__Under {
    margin-right: 0px;   
    margin-bottom: 28px;
  }

  @include media('<develop') {

    .TopMenu__Logo {
      margin-left: 16px;
    }

    .TopMenu__Link {
      margin-left: auto;
      margin-right: auto;
    }

    // 메뉴 버튼 위치   
    .TopMenu__Under__Button {
      display: flex;
      margin-left: auto;
      right: 0px;
    
      width: 26px;
      height: 20px;
    }
  }

  @include media('<mobile') {
    position: relative;
    z-index: 1;
  }

}