@import 'utils';

.Replay_Line {
  position: relative;   
  height: 60px;
  border-radius: 17px 17px 17px 0px;
  background-color: #e6e5eb;
  margin-bottom: 5px;  
  width: 100%;
  
  .Replay_Line_title {
    font-family: "Montserrat-Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4a4a4a;
    }
}

