@import 'utils';

.Analytics {  
  position: relative;  
  width: 1102.4px;
  height: 813.4px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  
  display: flex;
  flex-direction: row;

  .Analytics_total_left {
    
    width: 35%;
    height: 810px;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);    
  }

  .Analytics_total_div {
  
  }

  .Analytics_total_right {    
    width: 65%;
    height: 100%;    
  }

  .Analytics_total_chart {
    width: 100%;
    height: 51%;
  }

  .Analytics_total_right_bottom {
    display: flex;
    flex-direction: row;
  }

  .Analytics_total_reply {
    width: 50%;    
    height: 350px;        
    
  }
   
  .Analytics_total_yourTop {
    width: 50%;    
    height: 350px;        
  }
}

