@import 'utils';

.Home_Sms {
  position: relative;
  height: 289px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  background-color: #f5f5f5;
  border-radius: 10px;

  .Home_Sms_Images {
    width: 420px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }

  .Home_Sms_Images_Div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
    margin-top: 15px;
  }

  .Home_Sms_Desc {
    margin-top: 40px;
    margin-bottom: 20px;
    
    width: 658px;
    height: 92px;

    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;    
  }

  @include media('<develop') {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    .Home_Sms_Desc {
      width: 90%;
      height: auto;
      margin: 20px auto 20px auto;
    }
    .Home_Sms_Images {
      flex-direction: column;
      margin-top: 10px;
    }
  }
}

