@import 'utils';

.Keyword {
    position: relative;   
    width: 300px;
    height: auto; 

    
    .tag-cloud {
      flex: 1;
    }
    
    .Keyword_title {
      font-family: "Montserrat-Bold";
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #4a4a4a;
    }


   .Keyword_typo {
    font-family: "Montserrat-Medium";
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: -1.7px;
    color: #ff3b94;

    width: 100%;
    height: 80%;          
   }

   .Keyword_1 {
    position: absolute;
    top:calc(373px - 306px);
    left:calc(74px - 35px);
    font-size: 21px;
   }

   .Keyword_2 {
    position: absolute;
    top:calc(366px - 306px);
    left:calc(163px - 35px);
    font-size: 26px;
   }

   .Keyword_3 {
    position: absolute;
    top:calc(378px - 306px);
    left:calc(242px - 35px);
    font-size: 17px;
   }

   .Keyword_4 {
    position: absolute;
    top:calc(412px - 306px);
    left:calc(46px - 35px);
    font-size: 17px;
   }

   .Keyword_5 {
    position: absolute;
    top:calc(418px - 306px);
    left:calc(116px - 35px);
    font-size: 32px;
   }

   .Keyword_6 {
    position: absolute;
    top:calc(411px - 306px);
    left:calc(272px - 35px);
    font-size: 17px;
   }

   .Keyword_7 {
    position: absolute;
    top:calc(457px - 306px);
    left:calc(78px - 35px);
    font-size: 17px;
   }

   .Keyword_8 {
    position: absolute;
    top:calc(470px - 306px);
    left:calc(159px - 35px);
    font-size: 23px;
   }

   .Keyword_9 {
    position: absolute;
    top:calc(432px - 306px);
    left:calc(205px - 35px);
    font-size: 23px;
   }
}