@import 'utils';

.TotalList {
  position: relative;   
  width: 35%;
  height: 810px;
  border-radius: 10px;  

  

  .TotalList_div {
    margin-left: 6%;
    margin-top: 8%;
    width: 85%;
    border-radius: 10px;
    

    padding-right: 16px;  

    border: 1px solid #dddbdc;

    height: 92%;
    overflow-y: auto; 
  }
}

