@import 'utils';

.Account_Left {      
  position: relative;

  .Account_Left_div {
    margin-left: 40px;
    padding-top: 18px;    
  }

  .Account_Left_reload {

    margin-top: 30px;
    margin-bottom: 30px;

    width: 69.2px;
    height: 69.2px;
    border-radius: 8px;
    background-color: #c9c9c9;
  }
}

