@import 'utils';

.Letter_Send_TextField {
  width: 516.8px;      
  display: flex;
  flex-direction: column;
  justify-content: center;


  .Letter_Send_TextField_typo {
    font-family: 'Montserrat-Medium', 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;  

    background-color: #ffffff;       
    border-radius: 10px;     

    margin: 0px;
    margin-top: 1px;
  }    

  .Letter_Send_pinkButton {
    font-family: "Montserrat-Bold";
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;    
    background-color: #ff3b94;
    
    width: 187.9px;
    height: 45px;

    text-transform: none; 
    margin-top: 24px;
  }

}